@import "tailwindcss";

:root {
  --color-primary: #50bde9;
  --color-background: #e9f7fc;
  --color-secbg: #bbe6f6;
  --color-text-grey: #a4a3a3;
}

body {
  background-color: var(--color-background);
  font-family: "Cairo", sans-serif;
}
